In [ ]:
import pandas as pd
try:
 dadosEp = pd.read_csv(r"C:\Users\User\Documents\PythonGithub\Pandas\Analisando Dados epidemiologicos\dados_epidemiologicos.csv")
 municipio = pd.read_csv(r"C:\Users\User\Documents\PythonGithub\Pandas\Analisando Dados epidemiologicos\municipios_obitos.csv")
 
 
except FileExistsError:
    print('erro arquivo não encontrado')
finally:
    print('fim try')

fim try

In [7]:
dadosEp.head()

  data_notificacao        regiao sexo  idade       doenca  casos  obitos
0       2024-01-01       Sudeste    F     34       Dengue      5       0
1       2024-01-01       Sudeste    M     45       Dengue      3       1
2       2024-01-01         Norte    F     22         Zika      2       0
3       2024-01-02           Sul    M     60       Dengue      6       2
4       2024-01-02  Centro-Oeste    F     37  Chikungunya      1       0

In [8]:
municipio.head()

      municipio       doenca  obitos
0     São Paulo       Dengue       0
1     São Paulo       Dengue       1
2        Manaus         Zika       0
3  Porto Alegre       Dengue       2
4       Goiânia  Chikungunya       0

In [11]:
obitos_regiao = dadosEp.groupby("doenca")["obitos"].sum().rename("obitos_regiao")
obitos_regiao.head()

doenca
Chikungunya    0
Dengue         4
Zika           1
Name: obitos_regiao, dtype: int64

In [17]:
#quero somar quantos generos tem na tabela
generos = dadosEp['sexo'].value_counts()
print (generos)

sexo
F    5
M    4
Name: count, dtype: int64

In [19]:
#quantas mortes ocorreram por genero?

morte_genero = dadosEp.groupby("sexo")["obitos"].sum()
morte_genero.head()

sexo
F    1
M    4
Name: obitos, dtype: int64